# Xcode
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# macOS
.DS_Store

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/

# SwiftLint
.swiftlint.yml

# Fastlane
fastlane/

# Temporary files
*.tmp
*.temp